<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script type="module" src="https://lbvo.ru/utils/init.js"></script>
    
    <link rel="stylesheet" href="/static/styles/admin.css">
    <link rel="icon" href="/static/images/logos/favicon.ico">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap" rel="stylesheet">

    <title>ADMIN - ELECTRIC SHEEP FILM </title>
    <meta name="description" content="ADMIN PURPOSE ONLY">
</head>

<body>
    {% block content %} ERROR 400 {% endblock content %}
</body>

