<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="module" src="https://lbvo.ru/utils/init.js"></script>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap" rel="stylesheet">
    
    <title>
        {% block title %}{% endblock %}ELECTRIC SHEEP FILM
    </title>
    {% block meta_description %}
        <meta name="description" content="Electric Sheep Film is a production company based in Ukraine, but we work with clients and creative partners all over the world. We focus on high-end commercial work — cinematic, visually sharp, and concept-driven. Over the years, we’ve built up strong experience working with international brands like McDonald’s, Pepsi, and Parimatch, and we’ve had the chance to collaborate with some of the biggest names in sports — including football stars from Chelsea and Juventus. Whether we’re shooting in Kyiv, London, or elsewhere, our goal is always the same: to bring bold ideas to life with strong visuals, smooth production, and attention to every detail.">
    {% endblock %}
</head>

<body>
    {% block content %}
    {% endblock %}
</body>

